@page
@model AddModel
@{
    var applicantTypes = SelectItemExtensions.ToSelectList(ApplicantTypeEnum.Applicant);
    var features = await FeatureService.FeatureListAsync(FeatureTypeEnum.Applicant).ConfigureAwait(false);
    var applicantFeatures = new JsonSelectorViewModel
    {
        IdProperty = PropertyExtensions.GetJsonProperty<FeatureJsonValueViewModel>(x => x.Id),
        NameProperty = PropertyExtensions.GetJsonProperty<FeatureJsonValueViewModel>(x => x.Name),
        ValueProperty = PropertyExtensions.GetJsonProperty<FeatureJsonValueViewModel>(x => x.Value),
        ModelName = nameof(Model.NewApplicant),
        ItemName = nameof(Model.NewApplicant.ApplicantFeatures),
        Json = nameof(Model.NewApplicant.ApplicantFeaturesJson),
        Title = SharedLocalizer["ApplicantFeatures"],
        ScriptKey = "applicantFeatureScript",
        SelectListItems = features?.Select(x => new SelectListItem
        {
            Text = x.Name,
            Value = x.Id,
        }).SelectFirstItem(),
    };
}
<form method="post" class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle"></widget-header>
        <input asp-for="NewApplicant.Id" />
        <section class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-4 margin-bottomed">
                    <label asp-for="NewApplicant.Type" class="control-label"></label>
                    <select asp-for="NewApplicant.Type" asp-items="applicantTypes" class="form-control"></select>
                    <span asp-validation-for="NewApplicant.Type" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-4 margin-bottomed">
                    <label asp-for="NewApplicant.Name" class="control-label"></label>
                    <input asp-for="NewApplicant.Name" class="form-control" />
                    <span asp-validation-for="NewApplicant.Name" class="text-danger"></span>
                </div>
                <div class="col-6 col-md-4 margin-bottomed">
                    <label asp-for="NewApplicant.Mobile" class="control-label"></label>
                    <input asp-for="NewApplicant.Mobile" class="form-control" />
                    <span asp-validation-for="NewApplicant.Mobile" class="text-danger"></span>
                </div>
                <div class="col-6 col-md-4 margin-bottomed">
                    <label asp-for="NewApplicant.Phone" class="control-label"></label>
                    <input asp-for="NewApplicant.Phone" class="form-control" />
                    <span asp-validation-for="NewApplicant.Phone" class="text-danger"></span>
                </div>
                <div class="col-12 margin-bottomed">
                    <label asp-for="NewApplicant.Address" class="control-label"></label>
                    <input asp-for="NewApplicant.Address" class="form-control" />
                    <span asp-validation-for="NewApplicant.Address" class="text-danger"></span>
                </div>
                <div class="col-12 margin-bottomed">
                    <label asp-for="NewApplicant.Description" class="control-label"></label>
                    <input asp-for="NewApplicant.Description" class="form-control" />
                    <span asp-validation-for="NewApplicant.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-12">
                    <input asp-for="NewApplicant.ApplicantFeaturesJson" />
                    <vc:json-selector model="@applicantFeatures" />
                </div>
            </div>
        </section>
        <widget-footer>
            <widget-footer-text>
                <div asp-validation-summary="All">
                    @Model.ApplicantStatus
                </div>
            </widget-footer-text>
            <widget-footer-button>
                <input type="submit" value="@SharedLocalizer["Submit"]" class="btn-success" />
            </widget-footer-button>
        </widget-footer>
    </div>
</form>
@section Scripts
    {
    <script asp-paste-key="applicantFeatureScript"></script>
}