@page
@model AddModel

@{
    var types = SelectItemExtensions.ToSelectList(FeatureTypeEnum.Property);
}
<form method="post" class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle"></widget-header>
        <input asp-for="NewFeature.Id" />
        <section class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-6">
                    <div class="input-wrapper">
                        <label asp-for="NewFeature.Name" class="control-label"></label>
                        <input asp-for="NewFeature.Name" class="form-control" />
                        <span asp-validation-for="NewFeature.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="input-wrapper">
                        <label asp-for="NewFeature.Type" class="control-label"></label>
                        <select asp-items="types" asp-for="NewFeature.Type" class="custom-select"></select>
                        <span asp-validation-for="NewFeature.Type" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <submit full-width="true" />
            <status>
                @Model.Status
            </status>
        </footer>
    </div>
</form>