@page
@model ErrorModel

<div class="col-12">
    <div class="widget">
        <widget-header title="خطا!">
        </widget-header>
        <section class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <h5>
                    بروز خطا! با پشتیبانی تماس بگیرید
                </h5>
            </div>
        </section>
    </div>
</div>