@page
@model ForbiddenModel

<div class="col-12">
    <div class="widget">
        <widget-header title="@SharedLocalizer["Stop"]">
        </widget-header>
        <section class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <h5>
                    @SharedLocalizer["Forbidden"]
                </h5>
            </div>
        </section>
    </div>
</div>