@page
@model IndexModel
@{
    const string title = "ورود به حساب کاربری";
    ViewData["Title"] = title;

}
<form method="post" class="col-12">
    <div class="status-message @(Model.Status == StatusEnum.Ready ? "hidden" : "")" asp-validation-summary="All">
        @Model.Status.GetDisplayName()
    </div>
    <div class="widget">
        <input asp-for="Input.ReturnUrl" />
        <widget-header title="@title"></widget-header>
        <section class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md">
                    <div class="input-wrapper">
                        <label asp-for="Input.Username" class="control-label"></label>
                        <input asp-for="Input.Username" class="form-control" />
                    </div>
                </div>
                <div class="col-12 col-md">
                    <div class="input-wrapper">
                        <label asp-for="Input.Password" class="control-label"></label>
                        <input asp-for="Input.Password" class="form-control" type="password" />
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <input type="submit" value="@SharedLocalizer["Login"]" class="btn-success btn-block" />
        </footer>
    </div>
</form>