
<div class="sideBarHeader">

    @if (User.Identity.IsAuthenticated)
    {
        var currentUser = BaseService.CurrentUser();

        <div class="user-icon"></div>
        <div class="user-name">@SharedLocalizer[currentUser.Role.ToString()] عزیز، @currentUser.FirstName</div>
        <a asp-page="/Manage/Logout" class="exit">@SharedLocalizer["LogOut"]</a>
    }
</div>