@{
    var assemblyVersion = typeof(Startup).Assembly.GetName().Version.ToString();
}

<div class="sideBarFooter">
    <span>@SharedLocalizer["AppName"]</span>
    <span>@assemblyVersion</span>
</div>