<nav class="navbar navbar-expand navbar-dark" id="mainNavBar">
	<button class="navbar-toggler" type="button" aria-controls="navbarNavDropdown" data-target="#navbarNavDropdown" data-toggle="collapse" aria-expanded="true">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" asp-page="/Index">
		@SharedLocalizer[SharedResource.AppName]
	</a>
	<partial name="Shared/Config/_Notification" />
</nav>
<div id="navbarNavDropdown" class="sidenav">
	<partial name="Shared/Config/_MenuHeader" />
	<div class="nav-items">
		<partial name="Shared/Config/_MenuItems" />
	</div>
	<partial name="Shared/Config/_MenuVersion" />
</div>
<div class="backdrop"></div>