@if (User.Identity.IsAuthenticated)
{
  var hasNotification = await ReminderService.HasNotificationAsync();

  <a asp-page="@typeof(Manage.Reminder.IndexModel).Page()" class="mr-auto notification @(hasNotification ? "hasBadge" : "")">
    <i class="fa fa-bell"></i>
  </a>
}