
@font-face {
    font-family: 'IranSansWeb';
    font-weight: bolder;
    src: url('../fonts/iransansweb_black.woff2') format('woff2'), url('../fonts/iransansweb_black.woff') format('woff'), url('../fonts/iransansweb_black.ttf') format('truetype'), url('../fonts/iransansweb_black.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'IranSansWeb';
    font-weight: bold;
    src: url('../fonts/iransansweb_bold.woff2') format('woff2'), url('../fonts/iransansweb_bold.woff') format('woff'), url('../fonts/iransansweb_bold.ttf') format('truetype'), url('../fonts/iransansweb_bold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'IranSansWeb';
    font-weight: 300;
    src: url('../fonts/iransansweb_light.woff2') format('woff2'), url('../fonts/iransansweb_light.woff') format('woff'), url('../fonts/iransansweb_light.ttf') format('truetype'), url('../fonts/iransansweb_light.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'IranSansWeb';
    font-weight: 200;
    src: url('../fonts/iransansweb_ultralight.woff2') format('woff2'), url('../fonts/iransansweb_ultralight.woff') format('woff'), url('../fonts/iransansweb_ultralight.ttf') format('truetype'), url('../fonts/iransansweb_ultralight.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'IranSansWeb';
    font-weight: normal;
    src: url('../fonts/iransansweb_medium.woff2') format('woff2'), url('../fonts/iransansweb_medium.woff') format('woff'), url('../fonts/iransansweb_medium.ttf') format('truetype'), url('../fonts/iransansweb_medium.eot') format('embedded-opentype');
}
