@font-face {
    font-family: 'Yekan';
    src: url('../fonts/yekan.woff') format('woff');
}

@font-face {
    font-family: 'Yekan';
    font-weight: bold;
    src: url('../fonts/yekanb.woff') format('woff');
}