$sidebarheader-color: #5110c9;

$background-color: #282c34;
$standard-radius: 6px;
$foreground-color: #141820;

$widget-background-color: #eee;
$widget-header-footer-background-color: mix(black,$widget-background-color,6);
$widget-header-footer-foreground-color: mix(black,$widget-background-color,70);
/*$widget-inline-header-footer-background-color: mix(black,$color3,4);*/

