/*$sidebarheader-color: #5110c9;*/
$sidebarheader-color: black;

$button-warning-background: gray;
$button-warning-foreground: white;

$button-success-background: black;
$button-success-foreground: white;


$background-color: white;
$standard-radius: 6px;
$foreground-color: #141820;
// #e0e0e0
$widget-background-color: transparent;
$widget-header-footer-background-color: transparent;
$widget-header-footer-foreground-color: black;
/*$widget-inline-header-footer-background-color: mix(black,$color3,4);*/

$nav-background-color: #e0e0e0;
$nav-sub-background-color: mix(black,#e0e0e0,10);
$nav-foreground-color: black;
$nav-item-hover-background-color: mix(black, $nav-background-color,20);
$nav-item-focus-background-color: mix(black, $nav-item-hover-background-color,20);

$input-hover: mix(transparent,$sidebarheader-color,40);