@import "_fonts";
@import "_variables";
@import "_mixins";
@import "_bs.override";

body {
    background-color: #fff;
    font-family: IranSans;
    font-weight: normal;
    font-size: 10pt;
    overflow-x: hidden;
    margin-bottom: 20px;

    > [role="main"] {
        /*margin-top: 20px;*/
        @include transition(all, 0.5s, ease-in-out);

        @media (min-width: 769px) {
            padding-right: 265px;
        }
    }

    > .navbar {
        @media (min-width: 768px) {
            padding-right: 265px;
        }
    }
}

ul {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}

@mixin widget-headerfooter() {
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(center);
    height: 50px;
    padding: 10px;
    background-color: $widget-header-footer-background-color;
}

.row {
    > .widget {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.widget {
    @include flexbox();
    @include flex-flow(column);
    @include border-radius($standard-radius);
    background-color: $widget-background-color;
    /*overflow: hidden;*/
    & + .widget {
        margin-top: 15px;
    }

    &.mini-widget {
        margin-bottom: 10px;

        > header {
            height: 35px;

            > h2 {
                font-size: 9pt;
            }
        }
    }

    .bg-white {
        > header {
            background-color: $sidebarheader-color;

            h2 {
                color: black;
            }
        }
    }

    > header {
        @include widget-headerfooter();
        padding: 10px 20px;
        background-color: #ccc;
        margin: 0 -15px;

        > h2 {
            font-size: 12pt;
            margin-top: auto;
            margin-bottom: auto;
            font-weight: 400;
            color: $widget-header-footer-foreground-color;
        }

        > .other {
            font-size: 12pt;
            margin-right: auto;
            color: $foreground-color;

            > * {
                margin-left: 10px;
                @include border-radius(3px);
                background-color: $sidebarheader-color;
                color: white;
                font-size: 9pt;
                padding: 3px 7px;

                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }

    > section {
        padding: 10px;
        padding-top: 20px !important;
    }

    > footer {
        @include widget-headerfooter();
        @include flex-flow(column);
        height: auto !important;
        margin-top: auto;
        background-color: #e0e0e0;

        > .messages {
            font-size: 10pt;
            @include flexbox();
            @include justify-content(center);
            @include align-items(flex-start);
        }

        > .buttons {
            margin-right: auto;
        }
    }
}

a {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

input[type="submit"],
button {
    @include border-radius(3px);
    border: none;
    padding: 5px 10px;
    font-size: 11pt;
}

@media (max-width: 767.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        bottom: 0;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        background-color: var(--gray-dark);
        @include transition(transform, 0.3s, ease-in-out);
        @include transform(translateX(100%));
    }

    .offcanvas-collapse.open {
        @include transform(translateX(-1rem));
    }
}

.editable {
    height: 39px;
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(center);

    > * {
        margin-left: 5px;

        &:last-child {
            margin-left: 0;
        }
    }

    > label {
        margin-bottom: 0 !important;
        margin-left: 10px;
    }

    > div {
        position: relative;

        .editable--result {
            max-height: 150px;
            @include border-bottom-left-radius(3px);
            @include border-bottom-right-radius(3px);
            position: absolute;
            z-index: 9999999;
            width: 100%;
            display: block;
            overflow: hidden;

            > ul {
                margin-bottom: 0;
                list-style: none;
                padding: 0;
                height: 100%;
                overflow-y: scroll;
                width: 100%;
                display: block;
                max-height: 150px;

                > li {
                    display: block;

                    > a {
                        background-color: white;
                        padding: 10px;
                        display: block;
                        font-weight: normal;
                        font-size: 10pt;
                    }
                }
            }
        }
    }

    &--select {
        margin-right: 10px;
    }
}

.margin-bottomed {
    margin-bottom: 10px !important;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 101;
    top: 0;
    right: -250px;
    @include flexbox();
    @include flex-flow(column);
    background-color: $nav-background-color;
    overflow: hidden;
    width: 250px;
    @include transition(all, 0.5s, ease-in-out);

    @media (min-width: 769px) {
        right: 0;
    }

    @media (max-width: 768px) {
        &.in {
            right: 0;
        }
    }

    .sideBarFooter {
        color: white;
        font-size: 10pt;
        padding: 20px;
        margin-top: auto;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        @include flex-flow(column);

        > span {
            font-size: 9pt;
            color: gray;

            &:first-child {
                font-size: 12pt;
                color: $nav-foreground-color;
            }
        }
    }

    .sideBarHeader {
        width: 100%;
        background-color: $sidebarheader-color;
        padding: 20px;
        min-height: 213px;
        @include flexbox();
        @include align-items(center);
        @include justify-content(flex-start);
        @include flex-flow(column);
        margin-bottom: 20px;

        & > div {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .user-icon {
            padding: 20px;
            width: 100px;
            height: 100px;
            background-color: $background-color;
            @include border-radius(50%);
            @include background-image-div();
        }

        .user-name {
            font-weight: bold;
            color: white;
            font-size: 12pt;
        }

        .exit {
            $exit-backcolor: mix(white, $background-color, 4);

            @include border-radius(10px);
            background-color: $exit-backcolor;
            font-size: 8pt;
            color: $nav-foreground-color;
            padding: 7px;

            &:hover,
            &:focus {
                background-color: mix(white, $exit-backcolor, 10);
            }
        }
    }

    > .nav-items {
        overflow-y: auto;

        .sub-items {
            background-color: $nav-sub-background-color;
            padding-right: 20px;
        }

        .nav-link {
            padding: 12px 8px;
            padding-right: 25px;
            min-height: 43px;
            @include flexbox();
            @include flex-flow(row);
            @include justify-content(flex-start);
            @include align-items(center);
            @include transition(all, 0.3s, ease-in-out);

            > .img {
                width: 30px;

                > img {
                    max-height: 17px;
                    width: auto;
                    display: block;
                }
            }

            &.wrapper {
                > .img {
                    > img {
                        visibility: hidden;
                    }
                }

                > .text {
                    color: gray;
                }
            }

            > .text {
                font-size: 10pt;
                padding-right: 10px;
                color: $nav-foreground-color;
            }
        }

        a.nav-link {
            &.active {
                background-color: $nav-item-focus-background-color;
            }

            &:hover,
            &:focus {
                background-color: $nav-item-hover-background-color;
                /*> .text {
            color: #f1f1f1;
        }*/
            }

            &:active {
                background-color: mix(white, $background-color, 10);
            }
        }

        span.nav-link {
            @include user-select(none);
        }
    }
}

.backdrop {
    position: fixed;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    display: none;
    background-color: transparent;
    width: 120%;
    height: 120%;
    z-index: 100;
    @include user-select(none);
    @include animation-name(backDropHide);
    @include animation-duration(0.3s);
    @include animation-iteration-count(1);
    opacity: 0;

    &.in {
        @media (max-width: 769px) {
            @include animation-name(backDropShow);
            @include animation-duration(0.3s);
            @include animation-iteration-count(1);
            display: block;
            background-color: rgba(0, 0, 0, 1);
            opacity: 0.6;
        }
    }
}

@-webkit-keyframes slide {
    from {
        display: block;
    }

    to {
        display: none;
    }
}

@keyframes slide {
    from {
        display: block;
    }

    to {
        display: none;
    }
}

.navbar {
    @include transition(all, 0.5s, ease-in-out);

    .navbar-toggler {
        border: none !important;

        @media (min-width: 769px) {
            display: none;
        }
    }

    &.navbar-dark {
        background: $sidebarheader-color;
    }
}

.control-label {
    margin-right: 10px;
}

.field-validation-error {
    > span {
        font-size: 9pt;
    }
}

.validation-summary-valid {
    > ul {
        margin-bottom: 0;
    }
}

.validation-summary-errors {
    > ul {
        list-style: none;
        -webkit-padding-start: 0;
        padding-inline-start: 0;
        margin-bottom: 0;
        display: inline-block;

        > li {
            display: inline-block;
            margin-left: 10px;

            &:last-child {
                margin-left: 0;
            }
        }
    }
}

.itemShow {
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0 !important;
    @include transition(all, 0.3s, ease-in-out);

    & + .itemShow {
        border-top: 1px solid lightgray;
        padding-top: 10px;
        margin-bottom: 0 !important;
    }

    &.adder {
        border-bottom: none;
        margin-bottom: 10px !important;
    }

    &:hover,
    &:focus {
        background-color: #eeeeee;

        .info-breadcrumb {
            border-bottom-color: #e0e0e0;
        }
    }

    &.disabled {
        opacity: 0.4;
        @include user-select(none);
        cursor: default !important;
        background-color: lightgray;
    }

    > .tracker {
        font-size: 9pt;
        border-top: 1px dashed lightgray;
        color: gray;
        padding-top: 10px;
        margin-top: 10px;

        @media (max-width: 768px) {
            padding-left: 0;
            padding-right: 0;

            > .row {
                > div {
                    margin-bottom: 5px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    > .detail {
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        @include flex-flow(row);

        @media (max-width: 768px) {
            @include flex-flow(column);
            padding-left: 0;
            padding-right: 0;

            > .info {
                margin-bottom: 10px;

                > span {
                    > .title {
                        display: block;
                        margin-bottom: 10px;
                    }
                }
            }

            > .button {
                @include border-radius($standard-radius);
                width: 100%;
                text-align: center;
                padding: 10px;
                background-color: lightgray;
                margin-left: auto;
            }
        }

        > .info {
            width: 100%;

            > span {
                display: block;
                text-align: right;

                & + span {
                    margin-top: 10px;
                }

                @media (max-width: 768px) {
                    text-align: center;
                }

                &:last-child {
                    margin-bottom: 0;

                    > .info-breadcrumb {
                        border-bottom: none !important;
                        margin-bottom: 0 !important;
                    }
                }
            }

            & + .button {
                margin-right: auto;
                padding-right: 10px;
                min-width: 250px;
                text-align: left;

                > a {
                    display: block;
                    margin-bottom: 10px;

                    @media (max-width: 768px) {
                        display: inline-block;
                        margin-bottom: 0;
                    }
                }

                @media (max-width: 768px) {
                    text-align: center;
                }
            }
        }
    }
}

.badge {
    padding: 5px;
}

.badge-primary {
    background-color: $sidebarheader-color !important;
}

.text-gray {
    color: gray;
}

.text-primary {
    color: $sidebarheader-color !important;
}

.btn {
    &-sm {
        font-size: 9pt;
    }

    &.btn-primary {
        background-color: $sidebarheader-color;
        border-color: mix(transparent, $sidebarheader-color, 10);

        &.disabled {
            background-color: mix(white, $sidebarheader-color, 10) !important;
            border-color: mix(white, $sidebarheader-color, 10) !important;
        }

        &:disabled {
            background-color: mix(white, $sidebarheader-color, 10) !important;
            border-color: mix(white, $sidebarheader-color, 10) !important;
        }

        &:focus,
        &.focus {
            -webkit-box-shadow: 0 0 0 0.2rem mix(transparent, $sidebarheader-color, 10);
            box-shadow: 0 0 0 0.2rem mix(transparent, $sidebarheader-color, 10);
        }

        &:not(:disabled) {
            &:not(.disabled) {
                &:active,
                &.active {
                    background-color: mix(transparent, $sidebarheader-color, 10);
                    border-color: mix(transparent, $sidebarheader-color, 10);

                    &:focus {
                        -webkit-box-shadow: 0 0 0 0.2rem mix(transparent, $sidebarheader-color, 70);
                        box-shadow: 0 0 0 0.2rem mix(transparent, $sidebarheader-color, 70);
                    }
                }
            }
        }
        /*&:not(:disabled) {
                &:not(.disabled) {
                    &:active {
                        &:focus {
                            box-shadow: 0 0 0 0.2rem mix(transparent, $sidebarheader-color, 10);
                        }
                    }
                }
            }*/
    }
}

.pagination {
    margin-top: 20px;
    margin-bottom: 0;

    > .page-item {
        .page-link {
            /*@include border-radius(0);*/
            color: $sidebarheader-color;
        }

        &.active {
            .page-link {
                background-color: $sidebarheader-color;
                border-color: $sidebarheader-color;
                color: white;
            }
        }
    }
}

.moreInfo {
    padding-top: 5px;

    > i {
        font-size: 15pt;
    }

    color: gray;
}

.description {
    font-size: 9pt;
}

a {
    color: $sidebarheader-color;

    &:hover,
    &:focus {
        color: mix(black, $sidebarheader-color, 10);
    }
}

.hidden {
    display: none;
}

.tab-content {
    &.stylize {
        background-color: white;
        padding: 20px;
        @include border-bottom-left-radius($standard-radius);
        @include border-bottom-right-radius($standard-radius);
        @include border-top-left-radius($standard-radius);
        /*overflow: hidden;*/
        > .tab-pane {
            > .title {
                > div {
                    > h6 {
                        display: inline-block;
                        border-bottom: 1px solid $sidebarheader-color;
                        padding-bottom: 10px;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        &.alternative {
            background-color: lightgray;
        }
    }
}

.nav-tabs {
    border-bottom: none;

    > .nav-item {
        margin-bottom: 0;

        > .nav-link {
            border: none;
            background-color: $sidebarheader-color;
            color: white;
            @include transition(all, 0.3s, ease-in-out);

            &.active {
                background-color: white;
                color: $sidebarheader-color;
            }
        }
    }

    &.alternative {
        > .nav-item {
            > .nav-link {
                background-color: white;
                color: gray;

                &.active {
                    background-color: lightgray;
                    color: black;
                }
            }
        }
    }
}

#searcher {
    margin-bottom: 20px;

    .search {
        > div {
            > .result {
                position: relative;

                > .items {
                    @include border-bottom-left-radius($standard-radius);
                    @include border-bottom-right-radius($standard-radius);
                    max-height: 160px;
                    width: 100%;
                    top: 0;
                    right: 0;
                    background-color: white;
                    display: block;
                    position: absolute;
                    list-style: none;
                    -webkit-padding-start: 0;
                    padding-inline-start: 0;
                    margin-bottom: 0;
                    overflow-x: hidden;
                    overflow-y: scroll;

                    > li {
                        > a {
                            display: block;
                            padding: 10px;

                            &:hover,
                            &:focus {
                                background-color: lightgray;
                            }
                        }
                    }
                }
            }
        }
    }
}

.notify-drop {
    min-width: 330px;
    background-color: #fff;
    min-height: 100px;
    max-height: 370px;
    left: 0;
    right: auto;
    float: left !important;

    .notify-drop-title {
        border-bottom: 1px solid #e2e2e2;
        padding: 5px 15px 10px 15px;
    }

    .drop-content {
        min-height: 80px;
        max-height: 280px;
        overflow-y: scroll;

        &::-webkit-scrollbar-track {
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
            width: 8px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ccc;
        }

        > li {
            border-bottom: 1px solid #e2e2e2;
            padding: 10px 0px 5px 0px;
            background-color: #eaeaea;
            @include transition(all, 0.3s, ease-in-out);

            &.seen {
                background-color: transparent;
            }

            &:nth-child(2n + 0) {
                background-color: #fafafa;
            }

            &:after {
                content: "";
                clear: both;
                display: block;
            }

            &:hover {
                background-color: #fcfcfc;
            }

            &:last-child {
                border-bottom: none;
            }

            .notify-img {
                display: inline-block;
                width: 45px;
                height: 45px;
                margin: 0px 0px 8px 0px;
            }
        }
    }

    .allRead {
        margin-right: 7px;
    }

    .rIcon {
        float: right;
        color: #999;

        &:hover {
            color: #333;
        }
    }

    .drop-content {
        > li {
            a {
                font-size: 12px;
                font-weight: normal;
            }

            font-weight: bold;
            font-size: 11px;

            hr {
                margin: 5px 0;
                border-color: #e2e2e2;
            }
        }

        .pd-l0 {
            padding-left: 0;
        }

        > li p {
            font-size: 11px;
            color: #666;
            font-weight: normal;
            margin: 3px 0;

            &.time {
                font-size: 10px;
                font-weight: 600;
                top: -6px;
                margin: 8px 0px 0px 0px;
                padding: 0px 3px;
                border: 1px solid #e2e2e2;
                position: relative;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
                background-image: linear-gradient(#fff, #f2f2f2);
                display: inline-block;
                border-radius: 2px;
                color: #b97745;

                &:hover {
                    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
                    background-image: linear-gradient(#fff, #fff);
                }
            }
        }
    }

    .notify-drop-footer {
        border-top: 1px solid #e2e2e2;
        bottom: 0;
        position: relative;
        padding: 8px 15px;

        a {
            color: #777;
            text-decoration: none;

            &:hover {
                color: #333;
            }
        }
    }
}

.input-group {
    > :not(:last-child) {
        &.form-control,
        &.custom-select {
            @include border-top-right-radius(0);
            @include border-top-left-radius(0.25rem);
            @include border-bottom-right-radius(0);
            @include border-bottom-left-radius(0.25rem);
        }
    }

    select {
        font-size: 9pt !important;
    }

    .form-control {
        font-size: 9pt !important;
    }

    .input-group-text {
        font-size: 8pt;
    }

    * + * {
        &:not(input[type="hidden"]) {
            @include border-top-left-radius(0 !important);
            @include border-bottom-left-radius(0 !important);
            @include border-top-right-radius(0 !important);
            @include border-bottom-right-radius(0 !important);
        }
    }

    *:first-child {
        @include border-top-left-radius(0 !important);
        @include border-top-right-radius(0.25rem !important);
        @include border-bottom-left-radius(0 !important);
        @include border-bottom-right-radius(0.25rem !important);
    }

    *:last-child {
        &:not(.text-danger) {
            @include border-top-left-radius(0.25rem !important);
            @include border-top-right-radius(0 !important);
            @include border-bottom-left-radius(0.25rem !important);
            @include border-bottom-right-radius(0 !important);
        }
    }
}

.control-label {
    font-size: 10pt !important;

    &:after {
        content: ":";
        margin-left: 5px;
        margin-right: 5px;
    }
}

input,
select,
textarea {
    @include border-radius(0 !important);

    &:focus {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-color: $input-hover !important;
    }

    &.input-validation-error {
        border-color: red !important;
    }

    &[data-val-required] {
        &:not(.input-validation-error) {
            @include transition(all, 0.3s, ease-in-out);
            -webkit-box-shadow: 0 2px 0 $sidebarheader-color;
            box-shadow: 0 2px 0 $sidebarheader-color;

            &:focus {
                -webkit-box-shadow: 0 2px 0 $sidebarheader-color !important;
                box-shadow: 0 2px 0 $sidebarheader-color !important;
            }
        }
    }
}

.custom-select {
    font-size: 9pt !important;
    /*width: auto;
  min-width: 100px;*/
    &:focus {
        background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%235110c9' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px !important;
    }
}

.form-control {
    font-size: 9pt !important;
}

div[class|="col"] {
    & > .input-wrapper {
        margin-bottom: 10px;
    }
}

.input-wrapper {
    @include flexbox();
    @include justify-content(flex-start);
    @include align-items(center);
    @include flex-flow(row);

    .control-label {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin: 0 !important;
        margin-left: 10px !important;
    }

    * + .control-label {
        margin-right: 10px !important;
    }

    .field-validation-valid {
        display: none;
    }

    .field-validation-error {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-right: 5px;
        @include user-select(none);

        > span {
            font-size: 7pt !important;
        }
    }

    .btn {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin: 0 !important;
        margin-right: 10px !important;
        @include border-radius(0 !important);
        height: 100%;
    }

    > *:first-child {
        margin-right: 0 !important;
    }

    @media (max-width: 1095px) {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        & > * {
            &:last-child {
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
                margin-right: 0 !important;
            }
        }

        & > .control-label {
            &:not(.full-line) {
                -webkit-box-flex: 0;
                -ms-flex: 0 1 35%;
                flex: 0 1 35%;
                margin-left: 0 !important;
                margin-right: 0 !important;
                display: inline-block;

                & + input,
                & + select,
                & + textarea {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 0 65%;
                    flex: 1 0 65%;
                    display: inline-block;

                    & + .field-validation-error {
                        text-align: left;
                    }
                }
            }
        }
    }
}

.status-message {
    background-color: $nav-background-color;
    width: 100%;
    padding: 10px;

    > .close-status {
        color: black;
        font-size: 12pt;
        padding: 0 10px;
        float: left;
    }
}

.itemShow {
    &.input-wrapper {
        margin-bottom: 0 !important;

        @media (max-width: 1095px) {
            & > * {
                margin-bottom: 10px !important;

                &:last-child {
                    margin-bottom: 0 !important;
                }
            }
        }

        &:hover,
        &:focus {
            background-color: transparent;
        }
    }

    & + .items {
        @media (max-width: 768px) {
            padding: 5px;

            & > a {
                width: auto;
                margin: 3px;
                display: inline-block;
            }
        }
    }
}

.items {
    background-color: $nav-background-color;
    padding: 7px;
    text-align: right;

    @media (max-width: 768px) {
        padding: 10px;
    }

    &:not(:empty) {
        margin-top: 10px;

        ~ .items {
            &[style*="display:none"] {
                margin-top: 0 !important;
            }
        }
    }

    > a {
        padding: 5px 10px;
        background-color: white;
        font-size: 8pt;
        color: black;
        display: inline-block;
        margin: 3px;
        outline: 1px solid $nav-item-hover-background-color;

        &:hover,
        &:focus {
            outline-color: $input-hover;
        }

        @media (max-width: 768px) {
            width: 100%;
            margin: 0;
            margin-bottom: 10px;
            display: block;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

textarea {
    resize: vertical !important;
    min-height: 85px;
}

hr {
    + .row {
        > div[class|="col"] {
            > .itemShow.input-wrapper {
                padding-top: 0px !important;
            }
        }
    }

    ~ .row {
        &:not(.margin-bottomed) {
            > div[class|="col"] {
                > .itemShow.input-wrapper {
                    padding-bottom: 0px !important;
                }
            }
        }
    }
}

.clearSearch {
    color: gray;
    font-size: 8pt;
    float: left;
    margin-left: 0 !important;
}

.search {
    margin-bottom: 10px;
}

ul.info-breadcrumb {
    list-style: none;
    text-align: right;
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    font-size: 8pt;
    color: gray;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    @include transition(all, 0.3s, ease-in-out);

    &.no-border-bottom {
        border-bottom: none;
        margin-bottom: 0;
    }

    > li {
        margin-left: 10px;
        display: inline-block;

        & + li {
            &:before {
                content: "/";
                margin-left: 10px;
                color: black;
            }
        }

        > a {
            color: gray;
        }
    }
}

.custom-control {
    &-input {
        &:checked {
            & ~ .custom-control-label {
                &:before {
                    border-color: $sidebarheader-color;
                    background-color: $sidebarheader-color;
                }
            }
        }

        &:focus {
            & ~ .custom-control-label {
                &:before {
                    -webkit-box-shadow: 0 0 0 0.2rem mix(transparent, $sidebarheader-color, 75);
                    box-shadow: 0 0 0 0.2rem mix(transparent, $sidebarheader-color, 75);
                }
            }
        }
    }
}

.verified {
    color: dodgerblue !important;

    &-green {
        color: green !important;
    }
}

.no-image {
    .bspImgWrapper {
        display: none;
    }
}

#bsPhotoGalleryModal {
    .bsp-text-container {
        display: none;
    }

    .modal-dialog {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .modal-content {
            background-color: transparent;
            background-clip: padding-box;
            border: none;
        }

        .bsp-modal-main-image {
            @include border-radius(10px);
            -webkit-box-shadow: 0 0 10px black;
            box-shadow: 0 0 10px black;
        }
    }
}

.card {
    overflow: hidden;

    > .card-image {
        @include background-image-div();
        height: 200px;
        position: relative;
    }

    > .btn {
        @include border-radius(0 !important);
        border: none;
    }
}

.title-bar {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    @include flexbox();
    @include flex-flow(row);
    @include justify-content(flex-start);
    @include align-items(center);

    > span {
        color: rgba(0, 0, 0, 0.5);
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        margin-left: 15px;
    }

    > hr {
        width: 100%;
    }

    + .r8-panel {
        margin-top: -10px;
    }

    margin-left: -10px;
}

.btn-warning {
    background-color: $button-warning-background;
    color: $button-warning-foreground;
    border: none;
}

.btn-success {
    background-color: $button-success-background;
    color: $button-success-foreground;
    border: none;

    &.disabled,
    &:disabled {
        color: gray;
        background-color: #eee;
        border-color: #eee;
    }
}

.r8-panel {
    @include border-radius(3px);
    background-color: #eee;
    padding: 10px 0;
    margin-left: -10px;
    margin-right: -10px;

    .itemShow {
        background-color: #e0e0e0;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;

        .input-wrapper {
            @media (min-width: 769px) {
                margin-bottom: 0;
            }

            > * {
                margin-bottom: 10px !important;
            }
        }

        .items {
            padding: 0;
            margin-top: 0;

            @media (max-width: 768px) {
                @include flexbox;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                @include justify-content(space-between);
            }

            > a {
                display: inline-block;
                width: auto;

                @media (max-width: 768px) {
                    margin: 3px;
                    -webkit-box-flex: 1;
                    -ms-flex-positive: 1;
                    flex-grow: 1;
                    text-align: center;
                }
            }
        }
    }
}

.btn-flex {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);

    > * {
        margin-left: 10px;

        &:last-child {
            margin-left: 0;
        }
    }
}

button {
    > i {
        &.fa {
            margin-left: 10px;
        }
    }
}

.tooltip-inner {
    font-family: IranSans;
    font-weight: bold;
    font-size: 9pt;
}

#searchModal {
    .modal-dialog {
        max-width: 900px;
    }
}

.custom-switch {
    direction: ltr;
    padding-left: 0;
    padding-right: 2.25rem;

    &[dir="rtl"] {
        direction: rtl;

        .custom-control-label {
            &::before {
                right: -2.25rem;
                left: auto;
            }

            &::after {
                right: calc(-1.5rem + 2px);
                left: auto;
            }
        }
    }
}

.modal-header {
    .close {
        margin-left: -1rem;
        margin-right: auto;
    }
}

.pagination {
    -webkit-padding-start: 0;
    padding-inline-start: 0;

    > .page-item {
        &:first-child {
            > .page-link {
                @include border-top-right-radius(0.25rem);
                @include border-bottom-right-radius(0.25rem);
                @include border-bottom-left-radius(0);
                @include border-top-left-radius(0);
                border-left: none;
            }
        }

        &:last-child {
            > .page-link {
                @include border-top-left-radius(0.25rem);
                @include border-bottom-left-radius(0.25rem);
                @include border-bottom-right-radius(0);
                @include border-top-right-radius(0);
            }
        }
    }
}

.dropdown-item {
    text-align: right;
    font-size: 9pt;
}

.dropdown-menu {
    &.show {
        right: 0 !important;
        left: auto !important;
    }
}

.bg-light {
    background-color: #f5f5f5 !important;
}

.nav-link {
    &.btn-secondary {
        border: none !important;
        background-color: #b9bdc1;
        color: black;
        @include border-radius(0);

        &.active {
            color: white !important;
        }
    }
}

.element-item {
    > .detail,
    > .tracker {
        button.btn-sm {
            margin: auto 6px;
            @include transition(all, 0.3s, ease-in-out);
        }
    }

    &:hover,
    &:focus {
        > .detail,
        > .tracker {
            button.btn-sm {
                background-color: lightgrey;
            }
        }
    }
}

.navbar-toggler-title {
    font-size: 10pt;
    margin-right: 10px;
    vertical-align: middle;
}

.nav-link {
    text-align: right;
}

#searchNavBar {
    .nav-link {
        padding: 10px;

        > i {
            margin-left: 5px;
        }
    }
}

.items--item-wrapper {
    margin-bottom: 15px;

    &.disabled {
        opacity: 0.3;
    }

    .items--item {
        @include border-radius(7px);
        overflow: hidden;
        background-color: white;
        -webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.16);
        margin-bottom: 15px;
        @include flexbox;
        height: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        @include flex-flow(column);

        &:last-child {
            margin-bottom: 0;
        }

        .picture {
            height: 150px;
            @include background-image-div();
            position: relative;

            > .fadeIn {
                position: absolute;
                right: 0;
                bottom: 0;
                text-align: right;
                width: 100%;
                padding: 8px 1em;
                background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 10, 11, 0)), to(rgba(8, 10, 11, 0.7)));
                background: linear-gradient(180deg, rgba(8, 10, 11, 0), rgba(8, 10, 11, 0.7));
                @include flexbox;

                span {
                    color: white;

                    > i {
                        margin-left: 5px;
                    }

                    > span {
                        font-weight: bolder;
                    }
                }
            }
        }

        ul.featureCards {
            border-top: 1px solid #eee;
            @include flexbox;
            -webkit-padding-start: 0;
            padding-inline-start: 0;
            list-style: none;
            @include flex-flow(row);
            margin-bottom: 0;
            padding: 10px;
            min-height: 77px;

            > li {
                padding: 3px;
                @include flexbox;
                @include flex-flow(column);
                text-align: center;
                width: 25%;

                > i {
                    font-size: 15pt;
                    margin-bottom: 10px;
                }

                > span {
                    font-weight: bolder;

                    @media (max-width: 768px) {
                        font-size: 9pt;
                    }
                }

                &.disabled {
                    > i,
                    > span {
                        color: #ccc;
                    }
                }
            }
        }

        ul.admin-keys {
            list-style: none;
            -webkit-padding-start: 0;
            padding-inline-start: 0;
            @include flexbox;
            @include flex-flow(row);
            @include justify-content(center);
            border-top: 1px solid #eee;
            margin: 0 !important;

            > li {
                text-align: center;

                > a {
                    display: block;
                    padding: 10px 15px;
                }
            }
        }

        ul.features {
            padding-top: 15px;
            list-style: none;
            -webkit-padding-start: 0;
            padding-inline-start: 0;
            padding-right: 15px;
            padding-left: 15px;
            @include flexbox;
            @include flex-flow(column);
            text-align: right;

            .feature-important {
                font-size: 11pt;
                border-bottom: 1px solid #eee;
                padding-bottom: 5px;
            }

            > li {
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                    border-bottom: none !important;
                }

                > b {
                    font-weight: bolder;
                }

                > span {
                    font-weight: lighter;
                }
            }
        }
    }
}

.text-green {
    color: seagreen;
}

.search-options {
    @media (max-width: 768px) {
        ul.info-breadcrumb {
            list-style: circle;
            margin: 0;
            padding: 0;

            > li {
                display: block;
                margin-bottom: 5px;
                margin-left: 0;

                &:before {
                    content: none;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.no-img {
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "بدون تصویر";
        font-weight: bold;
        font-size: 15pt;
        color: white;
        width: 100%;
        height: 100%;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
    }
}

.animate-bottom {
    position: relative;
    -webkit-animation: animatebottom 0.4s;
    animation: animatebottom 0.4s;
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

#itemDetailModal {
    .address {
        font-size: 12pt;
    }

    .info-breadcrumb {
        font-size: 10pt;
        border-bottom: none;
        margin-bottom: 0;
    }
}