@charset "UTF-8";
@font-face {
  font-family: 'Yekan';
  src: url("../fonts/yekan.woff") format("woff"); }

@font-face {
  font-family: 'Yekan';
  font-weight: bold;
  src: url("../fonts/yekanb.woff") format("woff"); }

/*$sidebarheader-color: #5110c9;*/
/*$widget-inline-header-footer-background-color: mix(black,$color3,4);*/
/*$sidebarheader-color: #5110c9;*/
/*$widget-inline-header-footer-background-color: mix(black,$color3,4);*/
/*.bg-dark {
    background-color: #605ca8 !important;
}*/
/*.btn-success {
    background-color: mix(black,$color5,30);

    &:focus, &:hover {
        background-color: mix(black,saturate($color5,80),50);
    }

    &:not(:disabled):not(.disabled):active {
        background-color: mix(black,saturate($color5,80),60);
        border-color: mix(black,saturate($color5,80),70);
    }
}*/
.navbar .navbar-brand img {
  max-height: 40px;
  width: auto;
  display: inline-block; }

.navbar .navbar-toggler {
  display: block; }

body {
  background-color: white;
  font-family: Yekan;
  font-size: 10pt;
  overflow-x: hidden;
  margin-bottom: 20px; }
  body > [role="main"] {
    /*margin-top: 20px;*/
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    @media (min-width: 769px) {
      body > [role="main"] {
        padding-right: 265px; } }

.row > .widget {
  width: 100%;
  margin-left: 15px;
  margin-right: 15px; }

.widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  background-color: transparent;
  /*overflow: hidden;*/ }
  .widget + .widget {
    margin-top: 15px; }
  .widget.mini-widget {
    margin-bottom: 10px; }
    .widget.mini-widget > header {
      height: 35px; }
      .widget.mini-widget > header > h2 {
        font-size: 9pt; }
  .widget .bg-white > header {
    background-color: black; }
    .widget .bg-white > header h2 {
      color: black; }
  .widget > header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -ms-align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    padding: 10px 20px;
    background-color: #ccc;
    margin: 0 -15px; }
    .widget > header > h2 {
      font-size: 12pt;
      margin-top: auto;
      margin-bottom: auto;
      font-weight: 400;
      color: black; }
    .widget > header > .other {
      font-size: 12pt;
      margin-right: auto;
      color: #141820; }
      .widget > header > .other > * {
        margin-left: 10px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        background-color: black;
        color: white;
        font-size: 9pt;
        padding: 3px 7px; }
        .widget > header > .other > *:last-child {
          margin-left: 0; }
  .widget > section {
    padding: 10px;
    padding-top: 20px; }
    .widget > section > div {
      /*margin-bottom: 10px;*/ }
  .widget > footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -ms-align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    -o-flex-flow: column;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    height: auto !important;
    margin-top: auto;
    background-color: #e0e0e0; }
    .widget > footer > .messages {
      font-size: 10pt;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -ms-align-items: flex-start;
      -webkit-align-items: flex-start;
      -webkit-box-align: flex-start;
      align-items: flex-start; }
    .widget > footer > .buttons {
      margin-right: auto; }

a:hover, a:focus {
  text-decoration: none; }

input[type=submit], button {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: none;
  padding: 5px 10px;
  font-size: 11pt; }

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); } }

.editable {
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center; }
  .editable > * {
    margin-left: 5px; }
    .editable > *:last-child {
      margin-left: 0; }
  .editable > label {
    margin-bottom: 0 !important;
    margin-left: 10px; }
  .editable > div {
    position: relative; }
    .editable > div .editable--result {
      max-height: 150px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-bottom-left-radius: 3px;
      -o-border-bottom-left-radius: 3px;
      border-bottom-left-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -moz-border-bottom-right-radius: 3px;
      -o-border-bottom-right-radius: 3px;
      border-bottom-right-radius: 3px;
      position: absolute;
      z-index: 9999999;
      width: 100%;
      display: block;
      overflow: hidden; }
      .editable > div .editable--result > ul {
        margin-bottom: 0;
        list-style: none;
        padding: 0;
        height: 100%;
        overflow-y: scroll;
        width: 100%;
        display: block;
        max-height: 150px; }
        .editable > div .editable--result > ul > li {
          display: block; }
          .editable > div .editable--result > ul > li > a {
            background-color: white;
            padding: 10px;
            display: block;
            font-weight: normal;
            font-size: 10pt; }
  .editable--select {
    margin-right: 10px; }

.margin-bottomed {
  margin-bottom: 10px !important; }

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  right: -250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  background-color: #e0e0e0;
  overflow: hidden;
  width: 250px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  @media (min-width: 769px) {
    .sidenav {
      right: 0; } }
  @media (max-width: 768px) {
    .sidenav.in {
      right: 0; } }
  .sidenav .sideBarFooter {
    color: white;
    font-size: 10pt;
    padding: 20px;
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    -o-flex-flow: column;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal; }
    .sidenav .sideBarFooter > span {
      font-size: 9pt;
      color: gray; }
      .sidenav .sideBarFooter > span:first-child {
        font-size: 12pt;
        color: black; }
  .sidenav .sideBarHeader {
    width: 100%;
    background-color: black;
    padding: 20px;
    min-height: 213px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    -o-flex-flow: column;
    -webkit-flex-flow: column;
    flex-flow: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    margin-bottom: 20px; }
    .sidenav .sideBarHeader > div {
      margin-bottom: 10px; }
      .sidenav .sideBarHeader > div:last-child {
        margin-bottom: 0; }
    .sidenav .sideBarHeader .user-icon {
      padding: 20px;
      width: 100px;
      height: 100px;
      background-color: white;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -ms-background-repeat: no-repeat;
      background-repeat: no-repeat;
      -ms-background-position: center;
      background-position: center;
      background-size: cover;
      background-color: lightgray; }
    .sidenav .sideBarHeader .user-name {
      font-weight: bold;
      color: white;
      font-size: 12pt; }
    .sidenav .sideBarHeader .exit {
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      background-color: white;
      font-size: 8pt;
      color: black;
      padding: 7px; }
      .sidenav .sideBarHeader .exit:hover, .sidenav .sideBarHeader .exit:focus {
        background-color: white; }
  .sidenav > .nav-items {
    overflow-y: auto; }
    .sidenav > .nav-items .sub-items {
      background-color: #cacaca;
      padding-right: 20px; }
    .sidenav > .nav-items .nav-link {
      padding: 12px 8px;
      padding-right: 25px;
      min-height: 43px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -moz-flex-flow: row;
      -ms-flex-flow: row;
      -o-flex-flow: row;
      -webkit-flex-flow: row;
      flex-flow: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -ms-align-items: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .sidenav > .nav-items .nav-link > .img {
        width: 30px; }
        .sidenav > .nav-items .nav-link > .img > img {
          max-height: 17px;
          width: auto;
          display: block; }
      .sidenav > .nav-items .nav-link.wrapper > .img > img {
        visibility: hidden; }
      .sidenav > .nav-items .nav-link.wrapper > .text {
        color: gray; }
      .sidenav > .nav-items .nav-link > .text {
        font-size: 10pt;
        padding-right: 10px;
        color: black; }
    .sidenav > .nav-items a.nav-link.active {
      background-color: #8f8f8f; }
    .sidenav > .nav-items a.nav-link:hover, .sidenav > .nav-items a.nav-link:focus {
      background-color: #b3b3b3;
      /*> .text {
            color: #f1f1f1;
        }*/ }
    .sidenav > .nav-items a.nav-link:active {
      background-color: white; }
    .sidenav > .nav-items span.nav-link {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }

.backdrop {
  position: fixed;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  display: none;
  background-color: transparent;
  width: 120%;
  height: 120%;
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-animation-name: backDropHide;
  animation-name: backDropHide;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  opacity: 0; }
  @media (max-width: 769px) {
    .backdrop.in {
      -webkit-animation-name: backDropShow;
      animation-name: backDropShow;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      display: block;
      background-color: black;
      opacity: 0.6; } }

@keyframes slide {
  from {
    display: block; }
  to {
    display: none; } }

.navbar {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  @media (min-width: 768px) {
    .navbar {
      padding-right: 265px; } }
  .navbar .navbar-toggler {
    border: none !important; }
    @media (min-width: 769px) {
      .navbar .navbar-toggler {
        display: none; } }
  .navbar.navbar-dark {
    background: black; }

.control-label {
  margin-right: 10px; }

.field-validation-error > span {
  font-size: 9pt; }

.validation-summary-valid > ul {
  margin-bottom: 0; }

.validation-summary-errors > ul {
  list-style: none;
  padding-inline-start: 0;
  margin-bottom: 0;
  display: inline-block; }
  .validation-summary-errors > ul > li {
    display: inline-block;
    margin-left: 10px; }
    .validation-summary-errors > ul > li:last-child {
      margin-left: 0; }

.itemShow {
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 0 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .itemShow + .itemShow {
    border-top: 1px solid lightgray;
    padding-top: 10px;
    margin-bottom: 0 !important; }
  @media (max-width: 768px) {
    .itemShow {
      /*margin-bottom: 20px !important;*/ } }
  .itemShow.adder {
    border-bottom: none;
    margin-bottom: 10px !important; }
  .itemShow:hover, .itemShow:focus {
    background-color: #eeeeee; }
    .itemShow:hover .info-breadcrumb, .itemShow:focus .info-breadcrumb {
      border-bottom-color: #e0e0e0; }
  .itemShow.disabled {
    opacity: 0.4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default !important;
    background-color: lightgray; }
    @media (max-width: 768px) {
      .itemShow.disabled {
        /*padding-bottom: 0;*/ } }
  .itemShow > .tracker {
    font-size: 9pt;
    border-top: 1px dashed lightgray;
    color: gray;
    padding-top: 10px;
    margin-top: 10px; }
    @media (max-width: 768px) {
      .itemShow > .tracker > .row > div {
        margin-bottom: 5px; }
        .itemShow > .tracker > .row > div:last-child {
          margin-bottom: 0; } }
  .itemShow > .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    -o-flex-flow: row;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal; }
    @media (max-width: 768px) {
      .itemShow > .detail {
        -moz-flex-flow: column;
        -ms-flex-flow: column;
        -o-flex-flow: column;
        -webkit-flex-flow: column;
        flex-flow: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal; }
        .itemShow > .detail > .info {
          margin-bottom: 10px; }
          .itemShow > .detail > .info > span > .title {
            display: block;
            margin-bottom: 10px; }
        .itemShow > .detail > .button {
          border-radius: 6px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          -o-border-radius: 6px;
          width: 100%;
          text-align: center;
          padding: 10px;
          background-color: lightgray;
          margin-left: auto; } }
    .itemShow > .detail > .info {
      width: 100%; }
      .itemShow > .detail > .info > span {
        display: block;
        text-align: right; }
        .itemShow > .detail > .info > span + span {
          margin-top: 10px; }
        @media (max-width: 768px) {
          .itemShow > .detail > .info > span {
            text-align: center; } }
        .itemShow > .detail > .info > span:last-child {
          margin-bottom: 0; }
          .itemShow > .detail > .info > span:last-child > .info-breadcrumb {
            border-bottom: none !important;
            margin-bottom: 0 !important; }
      .itemShow > .detail > .info + .button {
        margin-right: auto;
        padding-right: 10px;
        min-width: 250px;
        text-align: left; }
        .itemShow > .detail > .info + .button > a {
          display: block;
          margin-bottom: 10px; }
          @media (max-width: 768px) {
            .itemShow > .detail > .info + .button > a {
              display: inline-block;
              margin-bottom: 0; } }
        @media (max-width: 768px) {
          .itemShow > .detail > .info + .button {
            text-align: center; } }

.badge {
  padding: 5px; }

.badge-primary {
  background-color: black !important; }

.text-gray {
  color: gray; }

.text-primary {
  color: black !important; }

.btn-sm {
  font-size: 9pt; }

.btn.btn-primary {
  background-color: black;
  border-color: rgba(0, 0, 0, 0.9);
  /*&:not(:disabled) {
                &:not(.disabled) {
                    &:active {
                        &:focus {
                            box-shadow: 0 0 0 0.2rem mix(transparent, $sidebarheader-color, 10);
                        }
                    }
                }
            }*/ }
  .btn.btn-primary.disabled {
    background-color: #1a1a1a !important;
    border-color: #1a1a1a !important; }
  .btn.btn-primary:disabled {
    background-color: #1a1a1a !important;
    border-color: #1a1a1a !important; }
  .btn.btn-primary:focus, .btn.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.9); }
  .btn.btn-primary:not(:disabled):not(.disabled):active, .btn.btn-primary:not(:disabled):not(.disabled).active {
    background-color: rgba(0, 0, 0, 0.9);
    border-color: rgba(0, 0, 0, 0.9); }
    .btn.btn-primary:not(:disabled):not(.disabled):active:focus, .btn.btn-primary:not(:disabled):not(.disabled).active:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.3); }

.pagination {
  margin-top: 20px;
  margin-bottom: 0; }
  .pagination > .page-item {
    /*&:first-child {
        .page-link {
            @include border-top-right-radius($standard-radius);
            @include border-bottom-right-radius($standard-radius);
            @include border-top-left-radius(0);
            @include border-bottom-left-radius(0);
        }
    }

    &:last-child {
        .page-link {
            @include border-top-right-radius(0);
            @include border-bottom-right-radius(0);
            @include border-top-left-radius($standard-radius);
            @include border-bottom-left-radius($standard-radius);
        }
    }*/ }
    .pagination > .page-item .page-link {
      /*@include border-radius(0);*/
      color: black; }
    .pagination > .page-item.active .page-link {
      background-color: black;
      border-color: black;
      color: white; }

.moreInfo {
  padding-top: 5px;
  color: gray; }
  .moreInfo > i {
    font-size: 15pt; }

.description {
  font-size: 9pt; }

a {
  color: black; }
  a:hover, a:focus {
    color: black; }

.hidden {
  display: none; }

.tab-content.stylize {
  background-color: white;
  padding: 20px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  /*overflow: hidden;*/ }
  .tab-content.stylize > .tab-pane > .title > div > h6 {
    display: inline-block;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-bottom: 20px; }
  .tab-content.stylize.alternative {
    background-color: lightgray; }

.nav-tabs {
  border-bottom: none; }
  .nav-tabs > .nav-item {
    margin-bottom: 0; }
    .nav-tabs > .nav-item > .nav-link {
      border: none;
      background-color: black;
      color: white;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .nav-tabs > .nav-item > .nav-link.active {
        background-color: white;
        color: black; }
  .nav-tabs.alternative > .nav-item > .nav-link {
    background-color: white;
    color: gray; }
    .nav-tabs.alternative > .nav-item > .nav-link.active {
      background-color: lightgray;
      color: black; }

#searcher {
  margin-bottom: 20px; }
  #searcher .search > div > .result {
    position: relative; }
    #searcher .search > div > .result > .items {
      -webkit-border-bottom-left-radius: 6px;
      -moz-border-bottom-left-radius: 6px;
      -o-border-bottom-left-radius: 6px;
      border-bottom-left-radius: 6px;
      -webkit-border-bottom-right-radius: 6px;
      -moz-border-bottom-right-radius: 6px;
      -o-border-bottom-right-radius: 6px;
      border-bottom-right-radius: 6px;
      max-height: 160px;
      width: 100%;
      top: 0;
      right: 0;
      background-color: white;
      display: block;
      position: absolute;
      list-style: none;
      padding-inline-start: 0;
      margin-bottom: 0;
      overflow-x: hidden;
      overflow-y: scroll; }
      #searcher .search > div > .result > .items > li > a {
        display: block;
        padding: 10px; }
        #searcher .search > div > .result > .items > li > a:hover, #searcher .search > div > .result > .items > li > a:focus {
          background-color: lightgray; }

.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 100px;
  max-height: 370px;
  left: 0;
  right: auto;
  float: left !important; }
  .notify-drop .notify-drop-title {
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 15px 10px 15px; }
  .notify-drop .drop-content {
    min-height: 80px;
    max-height: 280px;
    overflow-y: scroll; }
    .notify-drop .drop-content::-webkit-scrollbar-track {
      background-color: #F5F5F5; }
    .notify-drop .drop-content::-webkit-scrollbar {
      width: 8px;
      background-color: #F5F5F5; }
    .notify-drop .drop-content::-webkit-scrollbar-thumb {
      background-color: #ccc; }
    .notify-drop .drop-content > li {
      border-bottom: 1px solid #e2e2e2;
      padding: 10px 0px 5px 0px;
      background-color: #eaeaea;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .notify-drop .drop-content > li.seen {
        background-color: transparent; }
      .notify-drop .drop-content > li:nth-child(2n+0) {
        background-color: #fafafa; }
      .notify-drop .drop-content > li:after {
        content: "";
        clear: both;
        display: block; }
      .notify-drop .drop-content > li:hover {
        background-color: #fcfcfc; }
      .notify-drop .drop-content > li:last-child {
        border-bottom: none; }
      .notify-drop .drop-content > li .notify-img {
        float: left;
        display: inline-block;
        width: 45px;
        height: 45px;
        margin: 0px 0px 8px 0px; }
  .notify-drop .allRead {
    margin-right: 7px; }
  .notify-drop .rIcon {
    float: right;
    color: #999; }
    .notify-drop .rIcon:hover {
      color: #333; }
  .notify-drop .drop-content > li {
    font-weight: bold;
    font-size: 11px; }
    .notify-drop .drop-content > li a {
      font-size: 12px;
      font-weight: normal; }
    .notify-drop .drop-content > li hr {
      margin: 5px 0;
      border-color: #e2e2e2; }
  .notify-drop .drop-content .pd-l0 {
    padding-left: 0; }
  .notify-drop .drop-content > li p {
    font-size: 11px;
    color: #666;
    font-weight: normal;
    margin: 3px 0; }
    .notify-drop .drop-content > li p.time {
      font-size: 10px;
      font-weight: 600;
      top: -6px;
      margin: 8px 0px 0px 0px;
      padding: 0px 3px;
      border: 1px solid #e2e2e2;
      position: relative;
      background-image: linear-gradient(#fff, #f2f2f2);
      display: inline-block;
      border-radius: 2px;
      color: #B97745; }
      .notify-drop .drop-content > li p.time:hover {
        background-image: linear-gradient(#fff, #fff); }
  .notify-drop .notify-drop-footer {
    border-top: 1px solid #e2e2e2;
    bottom: 0;
    position: relative;
    padding: 8px 15px; }
    .notify-drop .notify-drop-footer a {
      color: #777;
      text-decoration: none; }
      .notify-drop .notify-drop-footer a:hover {
        color: #333; }

.input-group > :not(:last-child).form-control, .input-group > :not(:last-child).custom-select {
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0.25rem;
  -moz-border-top-left-radius: 0.25rem;
  -o-border-top-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0.25rem;
  -moz-border-bottom-left-radius: 0.25rem;
  -o-border-bottom-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.input-group select {
  font-size: 9pt !important; }

.input-group .form-control {
  font-size: 9pt !important; }

.input-group .input-group-text {
  font-size: 8pt; }

.input-group * + *:not(input[type="hidden"]) {
  -webkit-border-top-left-radius: 0 !important;
  -moz-border-top-left-radius: 0 !important;
  -o-border-top-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-bottom-left-radius: 0 !important;
  -o-border-bottom-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  -webkit-border-top-right-radius: 0 !important;
  -moz-border-top-right-radius: 0 !important;
  -o-border-top-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -moz-border-bottom-right-radius: 0 !important;
  -o-border-bottom-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.input-group *:first-child {
  -webkit-border-top-left-radius: 0 !important;
  -moz-border-top-left-radius: 0 !important;
  -o-border-top-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 0.25rem !important;
  -moz-border-top-right-radius: 0.25rem !important;
  -o-border-top-right-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-bottom-left-radius: 0 !important;
  -o-border-bottom-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0.25rem !important;
  -moz-border-bottom-right-radius: 0.25rem !important;
  -o-border-bottom-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important; }

.input-group *:last-child:not(.text-danger) {
  -webkit-border-top-left-radius: 0.25rem !important;
  -moz-border-top-left-radius: 0.25rem !important;
  -o-border-top-left-radius: 0.25rem !important;
  border-top-left-radius: 0.25rem !important;
  -webkit-border-top-right-radius: 0 !important;
  -moz-border-top-right-radius: 0 !important;
  -o-border-top-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 0.25rem !important;
  -moz-border-bottom-left-radius: 0.25rem !important;
  -o-border-bottom-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -moz-border-bottom-right-radius: 0 !important;
  -o-border-bottom-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.control-label {
  font-size: 10pt !important; }
  .control-label:after {
    content: ":";
    margin-left: 5px;
    margin-right: 5px; }

input, select, textarea {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important; }
  input:focus, select:focus, textarea:focus {
    box-shadow: none !important;
    border-color: rgba(0, 0, 0, 0.6) !important; }
  input.input-validation-error, select.input-validation-error, textarea.input-validation-error {
    border-color: red !important; }
  input[data-val-required]:not(.input-validation-error), select[data-val-required]:not(.input-validation-error), textarea[data-val-required]:not(.input-validation-error) {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 0 black; }
    input[data-val-required]:not(.input-validation-error):focus, select[data-val-required]:not(.input-validation-error):focus, textarea[data-val-required]:not(.input-validation-error):focus {
      box-shadow: 0 2px 0 black !important; }

.custom-select {
  font-size: 9pt !important;
  /*width: auto;
  min-width: 100px;*/ }
  .custom-select:focus {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%235110c9' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px !important; }

.form-control {
  font-size: 9pt !important; }

div[class|="col"] > .input-wrapper {
  margin-bottom: 10px; }

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: start;
  justify-content: start;
  -ms-align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal; }
  .input-wrapper .control-label {
    flex: 0 0 auto;
    margin: 0 !important;
    margin-left: 10px !important; }
  .input-wrapper * + .control-label {
    margin-right: 10px !important; }
  .input-wrapper .field-validation-valid {
    display: none; }
  .input-wrapper .field-validation-error {
    flex: 0 0 auto;
    margin-right: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .input-wrapper .field-validation-error > span {
      font-size: 7pt !important; }
  .input-wrapper .btn {
    flex: 0 0 auto;
    margin: 0 !important;
    margin-right: 10px !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    height: 100%; }
  .input-wrapper > *:first-child {
    margin-right: 0 !important; }
  @media (max-width: 1095px) {
    .input-wrapper {
      flex-wrap: wrap; }
      .input-wrapper > *:last-child {
        flex-basis: 100%;
        margin-right: 0 !important; }
      .input-wrapper > .control-label:not(.full-line) {
        flex: 0 1 35%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        display: inline-block; }
        .input-wrapper > .control-label:not(.full-line) + input, .input-wrapper > .control-label:not(.full-line) + select, .input-wrapper > .control-label:not(.full-line) + textarea {
          flex: 1 0 65%;
          display: inline-block; }
          .input-wrapper > .control-label:not(.full-line) + input + .field-validation-error, .input-wrapper > .control-label:not(.full-line) + select + .field-validation-error, .input-wrapper > .control-label:not(.full-line) + textarea + .field-validation-error {
            text-align: left; } }

.status-message {
  background-color: #e0e0e0;
  width: 100%;
  padding: 10px; }
  .status-message > .close-status {
    color: black;
    font-size: 12pt;
    padding: 0 10px;
    float: left; }

.itemShow.input-wrapper {
  margin-bottom: 0 !important; }
  @media (max-width: 1095px) {
    .itemShow.input-wrapper > * {
      margin-bottom: 10px !important; }
      .itemShow.input-wrapper > *:last-child {
        margin-bottom: 0 !important; } }
  .itemShow.input-wrapper:hover, .itemShow.input-wrapper:focus {
    background-color: transparent; }

@media (max-width: 768px) {
  .itemShow + .items {
    padding: 5px; }
    .itemShow + .items > a {
      width: auto;
      margin: 3px;
      display: inline-block; } }

.items {
  background-color: #e0e0e0;
  padding: 7px;
  text-align: right; }
  @media (max-width: 768px) {
    .items {
      padding: 10px; } }
  .items:not(:empty) {
    margin-top: 10px; }
    .items:not(:empty) ~ .items[style*="display:none"] {
      margin-top: 0 !important; }
  .items > a {
    padding: 5px 10px;
    background-color: white;
    font-size: 8pt;
    color: black;
    display: inline-block;
    margin: 3px;
    outline: 1px solid #b3b3b3; }
    .items > a:hover, .items > a:focus {
      outline-color: rgba(0, 0, 0, 0.6); }
    @media (max-width: 768px) {
      .items > a {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
        display: block; }
        .items > a:last-child {
          margin-bottom: 0; } }

textarea {
  resize: vertical !important;
  min-height: 85px; }

hr + .row > div[class|="col"] > .itemShow.input-wrapper {
  padding-top: 0px !important; }

hr ~ .row:not(.margin-bottomed) > div[class|="col"] > .itemShow.input-wrapper {
  padding-bottom: 0px !important; }

.clearSearch {
  color: gray;
  font-size: 8pt;
  float: left;
  margin-left: 0 !important; }

.search {
  margin-bottom: 10px; }

[for] + [data-val-required] {
  /*border-style: double;*/
  /*border-width: 3px;*/
  /*&:after {
        content: "*";
        color: red;
        margin-right: 5px;
    }*/ }
  [for] + [data-val-required].form-control {
    /*background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23ff0000' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat left 0.75rem center/8px 10px;*/
    /*background-color: rgba(0, 0, 0, 0);*/ }

ul.info-breadcrumb {
  list-style: none;
  text-align: right;
  padding-inline-start: 0;
  font-size: 8pt;
  color: gray;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  ul.info-breadcrumb.no-border-bottom {
    border-bottom: none;
    margin-bottom: 0; }
  ul.info-breadcrumb > li {
    margin-left: 10px;
    display: inline-block; }
    ul.info-breadcrumb > li + li:before {
      content: "/";
      margin-left: 10px;
      color: black; }
    ul.info-breadcrumb > li > a {
      color: gray; }

.custom-control-input:checked ~ .custom-control-label:before {
  border-color: black;
  background-color: black; }

.custom-control-input:focus ~ .custom-control-label:before {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25); }

.verified {
  color: dodgerblue !important; }

.no-image .bspImgWrapper {
  display: none; }

#bsPhotoGalleryModal .bsp-text-container {
  display: none; }

#bsPhotoGalleryModal .modal-dialog {
  height: 100%;
  display: flex;
  align-items: center; }
  #bsPhotoGalleryModal .modal-dialog .modal-content {
    background-color: transparent;
    background-clip: padding-box;
    border: none; }
  #bsPhotoGalleryModal .modal-dialog .bsp-modal-main-image {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 10px black; }

.card {
  overflow: hidden; }
  .card > .card-image {
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -ms-background-position: center;
    background-position: center;
    background-size: cover;
    background-color: lightgray;
    height: 200px;
    position: relative; }
    .card > .card-image.no-img:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "بدون تصویر";
      font-weight: bold;
      font-size: 15pt;
      color: white;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -ms-align-items: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center; }
  .card > .btn {
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border: none; }

.title-bar {
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  margin-left: -10px; }
  .title-bar > span {
    color: rgba(0, 0, 0, 0.5);
    flex: 1 0 auto;
    margin-left: 15px; }
  .title-bar > hr {
    width: 100%; }
  .title-bar + .r8-panel {
    margin-top: -10px; }

.btn-warning {
  background-color: gray;
  color: white;
  border: none; }

.btn-success {
  background-color: black;
  color: white;
  border: none; }
  .btn-success.disabled, .btn-success:disabled {
    color: gray;
    background-color: #eee;
    border-color: #eee; }

.r8-panel {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: #eee;
  padding: 10px 0;
  margin-left: -10px;
  margin-right: -10px; }
  .r8-panel .itemShow {
    background-color: #e0e0e0;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px; }
    @media (min-width: 769px) {
      .r8-panel .itemShow .input-wrapper {
        margin-bottom: 0; } }
    .r8-panel .itemShow .input-wrapper > * {
      margin-bottom: 10px !important; }
    .r8-panel .itemShow .items {
      padding: 0;
      margin-top: 0; }
      @media (max-width: 768px) {
        .r8-panel .itemShow .items {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-wrap: wrap;
          -webkit-justify-content: space-between;
          justify-content: space-between; } }
      .r8-panel .itemShow .items > a {
        display: inline-block;
        width: auto; }
        @media (max-width: 768px) {
          .r8-panel .itemShow .items > a {
            margin: 3px;
            flex-grow: 1;
            text-align: center; } }

.btn-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }
  .btn-flex > * {
    margin-left: 10px; }
    .btn-flex > *:last-child {
      margin-left: 0; }

button > i.fa {
  margin-left: 10px; }

.tooltip-inner {
  font-family: Yekan;
  font-size: 9pt; }

#searchModal .modal-dialog {
  max-width: 900px; }

.custom-switch {
  direction: ltr;
  padding-left: 0;
  padding-right: 2.25rem; }
  .custom-switch[dir="rtl"] {
    direction: rtl; }
    .custom-switch[dir="rtl"] .custom-control-label::before {
      right: -2.25rem;
      left: auto; }
    .custom-switch[dir="rtl"] .custom-control-label::after {
      right: calc(-1.50rem + 2px);
      left: auto; }

.modal-header .close {
  margin-left: -1rem;
  margin-right: auto; }

.pagination {
  padding-inline-start: 0; }
  .pagination > .page-item:first-child > .page-link {
    -webkit-border-top-right-radius: 0.25rem;
    -moz-border-top-right-radius: 0.25rem;
    -o-border-top-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    -webkit-border-bottom-right-radius: 0.25rem;
    -moz-border-bottom-right-radius: 0.25rem;
    -o-border-bottom-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    -o-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -o-border-top-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none; }
  .pagination > .page-item:last-child > .page-link {
    -webkit-border-top-left-radius: 0.25rem;
    -moz-border-top-left-radius: 0.25rem;
    -o-border-top-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    -webkit-border-bottom-left-radius: 0.25rem;
    -moz-border-bottom-left-radius: 0.25rem;
    -o-border-bottom-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    -o-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -o-border-top-right-radius: 0;
    border-top-right-radius: 0; }

.dropdown-item {
  text-align: right;
  font-size: 9pt; }

.dropdown-menu.show {
  right: 0 !important;
  left: auto !important; }

.bg-light {
  background-color: #f5f5f5 !important; }

.nav-link.btn-secondary {
  border: none !important;
  background-color: #b9bdc1;
  color: black;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0; }
