@page
@model AddModel

<form method="post" class="col-12">
    <div class="widget">
        <widget-header title="@Model.PageTitle"></widget-header>
        <input asp-for="NewDivision.Id" />
        <section class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 margin-bottomed">
                    <label asp-for="NewDivision.Name" class="control-label"></label>
                    <input asp-for="NewDivision.Name" class="form-control" />
                    <span asp-validation-for="NewDivision.Name" class="text-danger"></span>
                </div>
            </div>
        </section>
        <footer>
            <submit full-width="true" />
            <status>
                @Model.Status
            </status>
        </footer>
    </div>
</form>