@page
@model IndexModel
@{
    var title = SharedLocalizer["Statistics"];
    ViewData["Title"] = title;
}

<div class="col-12">

    <div class="widget">
        <widget-header title="@title">
        </widget-header>
        <section class="container-fluid"></section>
    </div>
</div>